@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

main{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20vh 20px;
}

a{
    font-style: italic;
    text-decoration: none;
}

.easter-egg {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: transform 1s;
}

@media screen and (max-width: 600px) {
    main{
        margin: 10vh 20px;
    }
}